*{
    margin: 0;
    padding: 0;
}
.form{
    position: relative;
    left: 570px;
    top: 200px;
}
.inp1{
    outline: none;
    height: 20px;
}
.btn{
    width: 90px;
    height: 30px;
    border-radius: 7px 7px 7px 7px;
}
